@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  font-weight: 100;
}


@media (max-width: 1024px) {
  .p {
    font-size: 0.5rem;
  }
}